*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{
    background-color: rgb(202, 198, 198);
    color: rgb(42, 110, 189);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    color: rgb(10, 41, 70);
    height: 50%;
    font-size: 20px;
    margin-left: 15px;
}

.logo img{
    width: 40px;
    height: 40px;
}


nav ul{
    flex-wrap: wrap;
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    padding: 5px;
    color: rgb(50, 85, 202);
    font-weight: 600;
}

a:hover{
    background-color: rgb(125, 162, 184);
    color: aliceblue;
    border-radius: 10px;
    transition: all 0.7s ease;
}

li {
    padding: 10px;
}

.menu-btn i{
    display: none;
    color: rgb(58, 68, 163);
    padding: 8px;
    cursor: pointer;
}

/*   TELAS MIDIAS SCREENS
320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs
*/

@media (max-width: 500px) {
    nav .menu-btn i{
        display: block;
    }


    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgba(58, 69, 163, 0.904);;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
        color: #ffffff;
    }
    
    nav ul li a:hover{
        background: rgba(55, 31, 163, 0.753);
        color: #ffffff;

    } 
}