*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{
    background-color: rgb(202, 198, 198);
    color: rgb(42, 110, 189);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    color: rgb(10, 41, 70);
    height: 50%;
    font-size: 20px;
    margin-left: 15px;
}

.logo img{
    width: 40px;
    height: 40px;
}


nav ul{
    flex-wrap: wrap;
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    padding: 5px;
    color: rgb(50, 85, 202);
    font-weight: 600;
}

a:hover{
    background-color: rgb(125, 162, 184);
    color: aliceblue;
    border-radius: 10px;
    transition: all 0.7s ease;
}

li {
    padding: 10px;
}

.menu-btn{
    display: none;
}